{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{ author.first_name }} {{ author.last_name }}</h1>
    <h3 class="text-muted">
        {% if author.date_of_death %}
            ({{ author.date_of_birth }} - {{ author.date_of_death }})
        {% else %}
            ({{ author.date_of_birth }})
        {% endif %}
    </h3>

    <div style="margin-left:20px;margin-top:20px">
        <h4>Books</h4>

        {% for book in author.book_set.all %}
            <hr>
            <p><strong><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.id }})</strong></p>
            <p>{{ book.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}
